.ks-radio {
    background: url('http://img03.taobaocdn.com/tps/i3/T15zX5XdxuXXXXXXXX-20-121.gif') 0 0 no-repeat;
    _background-position: 0 4px;
    width: 15px;
    height: 15px;
    line-height: 16px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 4px;
}

.ks-radio-checked {
    background-position: 0 -24px;
    _background-position: 0 -20px;
}

.ks-radio-disabled {
    background-position: 0 -52px;
    _background-position: 0 -48px;
}

.radio-label {
    margin-right: 10px;
}

.ks-nice-select-container {
    position: relative;
    z-index: 900;
}

.ks-nice-select-container .ks-nice-select {
    border: 1px solid #8AB6DD;
    line-height: 22px;
    height: 22px;
    background-color: #fff;
    cursor: pointer;
}

.ks-nice-select-container .ks-nice-select .select-text {
    display: block;
    margin-left: 8px;
    color: #404040;
}

.ks-nice-select-container .ks-nice-select .select-icon {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    background: url("http://img03.taobaocdn.com/tps/i3/T15zX5XdxuXXXXXXXX-20-121.gif") 0 -81px no-repeat;
    width: 20px;
    height: 20px;
}

.ks-nice-select-container .ks-nice-select-hover, .ks-nice-select-container .ks-nice-select-click {
    border: 1px solid #FFAD33;
}

.ks-nice-select-container .ks-nice-select-hover .select-icon, .ks-nice-select-container .ks-nice-select-click .select-icon {
    background-position: 0 -101px;
}

.ks-nice-select-container .list-container, .ks-nice-select-container .ks-nice-select-iframe {
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 900;
    display: none;
}

*html .ks-nice-select-container .ks-nice-select-iframe {
    top: 24px;
}

.ks-nice-select-container .ks-nice-select-iframe {
    z-index: 899;
    border: none;
}

.ks-nice-select-container .list-container .ks-nice-list {
    border: 1px solid #FFAD33;
    border-top: none;
    background-color: #fff;
}

.ks-nice-select-container .list-container .ks-nice-list li {
    color: #808080;
    font-size: 12px;
    margin: 2px;
    line-height: 20px;
    border: 1px solid #fff;
    padding-left: 5px;
    cursor: pointer;
}

.ks-nice-list li.ks-nice-hover, .ks-nice-list li.ks-nice-current {
    color: #404040;
    border-color: #FFE0B2;
    background-color: #FFEFD6;
}